body {
  background-color: rgb(255,255,204);
  font-family:MetricWeb,sans-serif;
}
	html {
		font-family: FinancierDisplayWeb, sans-serif;
	}
	h1, input, select, button {
		font-family: MetricWeb, serif;
	}

  button {
  margin-bottom: 5px;
  }

  input[type="text"] {
    padding: 0 4px 0 4px;
    width: 35px;
    margin-bottom: 15px;
    text-align: center;
  }

  #appContainer {
  border: 1px solid black;
  width: 500px;
  margin: 0 auto;
  text-align:center;
  padding: 20px;
  background-color: #F3DFC7;
}

  #receipt {
    background-color: white;
    width: 240px;
  }

  #receipt img {
    width: 230px;
  }

  #amtOwed {
    background-color: white;
    border: 1px red solid;
    padding: 5px;
  }
